<!DOCTYPE html>
<html lang="en" class="text-gray-900 leading-tight">

<head>
  <title>{{ .Site.Title }}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ "<!-- Main Stylesheet -->" | safeHTML }}
  {{ $css := resources.Get "css/main.css" }}
  {{ $css := $css | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" media="all">

  <script defer src="//unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
  <script defer src="//unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>


  {{ "<!-- Components -->" | safeHTML }}
  {{ $components := slice }}
  {{ range resources.Match "components/*/element.js" }}
    {{ $c := . | resources.ExecuteAsTemplate "temp.js" . }}
    {{ $components = $components | append $c }}
  {{ end }}
  {{ $script := $components | resources.Concat "components.js" | minify }}
  <script src="{{- $script.RelPermalink -}}"></script>

</head>

<body class="min-h-screen max-w-7xl mx-auto sm:px-6 lg:px-8 bg-gray-200 prose">
  {{ block "main" .}}{{end}}
</body>

</html>